<div class="container" id="topbottomset">
    <div class="card-group">
           <div class="card">
           <%= link_to assembly_path do %>
       
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Faisal_Mosque%2C_Islamabad%2C_Pakistan.jpg/1920px-Faisal_Mosque%2C_Islamabad%2C_Pakistan.jpg" 
           class="card-img-top hover-effect" 
           alt="...">
           <% end %>
           <div class="card-body">
               <h5 class="card-title">National Assembly 123</h5>
               <p class="card-text">This is the natiionak assembly of zone which hold the fourty five union counsels</p>
               <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
           </div>
           </div>
           <div class="card" style="margin-left: 20px">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Faisal_Mosque%2C_Islamabad%2C_Pakistan.jpg/1920px-Faisal_Mosque%2C_Islamabad%2C_Pakistan.jpg" class="card-img-top" alt="...">
           <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
               <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
           </div>
           </div>
           <div class="card"  style="margin-left: 20px">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Faisal_Mosque%2C_Islamabad%2C_Pakistan.jpg/1920px-Faisal_Mosque%2C_Islamabad%2C_Pakistan.jpg" class="card-img-top" alt="pic">
           <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
               <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
           </div>
           </div>
       </div>
   </div>
       