<section class="bg-black py-4 shadow-sm">
    <div class="Container">
      <div style="animation: 'moveLeft 5s linear infinite',
                      position: 'relative',
                      whiteSpace: 'nowrap',
                      overflow: 'hidden'">
               <marquee class='text-white'> this is the antiq and you can find any thing from this and also there is a limited stock available from here 
               and you can easily buy now and after some time it can be sold out. So come first buy first</marquee>
      </div>

    </div>
</section>