


<div id="page-content">



<div class = "container" id = "about-top-margin">
  <%= link_to assembly_path do %>

<div class="jumbotron text-center " id = "onetwothree">
</div>
</div>
</div>
<% end %>
</div>
</div>


<div id="page-content">



<div class = "container" id = "about-top-margin">
  <%= link_to assembly_path do %>

<div class="jumbotron text-center " id = "onetwothree">
</div>
</div>
</div>
<% end %>
</div>
</div>


<%= render "pages/footer"%>

 


