<div id="page-content centere">
<div class = "container" id = "home-top-margin">
<div class="jumbotron text-center " id = "canva-about">
  <h1 class="display-4 text-bg-white">WELCOME TO NATIONAL ASSEMBLY 123</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
 

</div>


            <%= link_to "PP145", voters_path, class: "btn btn-success btn-md", role: "button" %>

    <a class="btn btn-success btn-lg" href="#" role="button">PP 144</a>

            <%= link_to "NATIONAL ASSEMBLY 123", assembly_path, class: "btn btn-success btn-lg" , role: "button"%>


</div>
</div>



<%= render "pages/footer"%>
