<div id="page-content">
<div class = "container" id = "home-top-margin">
<div class="jumbotron text-center " id = "canva-about">
  <h1 class="display-4 text-bg-white">WELCOME TO GENERAL ELECTION</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
 

</div>


 <a class="btn btn-success btn-md" href="#" role="button">NATIONAL ASSEMBLY 119</a>

    <a class="btn btn-success btn-lg" href="#" role="button">NATIONAL ASSEMBLY 120</a>

  <a class="btn btn-success btn-lg" href="#" role="button">NATIONAL ASSEMBLY 122</a>
            <%= link_to "NATIONAL ASSEMBLY 123", assembly_path, class: "btn btn-success btn-lg" , role: "button"%>

  <a class="btn btn-success btn-lg" href="#" role="button">NATIONAL ASSEMBLY 124</a>
  <a class="btn btn-success btn-lg" href="#" role="button">NATIONAL ASSEMBLY 125</a>
  <a class="btn btn-success btn-lg" href="#" role="button">NATIONAL ASSEMBLY 126</a>
  <a class="btn btn-success btn-lg" href="#" role="button">NATIONAL ASSEMBLY 127</a>

</div>
</div>